:root {
    --white: #d9d9d9;
    --black: #111;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
    font-family: 'Open Sans', sans-serif;
    max-width:800px;
    margin:2em auto;
    line-height:1.4;
}

html {
    background-color: var(--white);
    color: var(--black);
}

ellipse {
    fill: var(--black);
    cursor: pointer;
}

ellipse.selected {
    fill: green;
}

circle {
    fill: var(--white);
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color:#111;
        color: var(--white);
    }

    a {
        color: #00a2e7;
    }

    ellipse {
        fill: var(--white);
        cursor: pointer;
    }

    ellipse.selected {
        fill: lightgreen;
    }

    circle {
        fill: var(--black);
        cursor: pointer;
    }
}

.settings-bar {
    height: 40px;
    width: 100%;
    opacity: 1;
    display: flex;
    align-items: center;
}

.now-playing {
    min-height: 25px;
}

.scuffed-button {
    border: none;
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.scuffed-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.start-button {
    background-color: #04AA6D;
}

.left-button {
    background-color: gray;
    color: var(--white);
}

.right-button {
    background-color: gray;
    color: var(--white);
}

.stop-button {
    background-color: #f44336;
}
